{% load static %}
<!DOCTYPE html>
<html>

    <head>
        <title>{% block title %}DjangoHR{% endblock %}</title>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'django_hr/styles.css' %}">
    </head>
    <body>

        <div class="header">
            {% url 'index' as url_index %}
            {% url 'profile'  employee_id=user.employee.id as url_profile %}
            {% url 'people' as url_people %}
            {% url 'timeOff' as url_timeOff %}
            {% url 'leaveRequests' as url_leaveRequests %}
            {% url 'objectives' as url_objectives %}
            {% url 'logout' as url_logout %}
            {% url 'login' as url_login %}
            {% url 'register' as url_register %}
        </div>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <span style="font-weight: bold; font-size: 23px; color: rgb(0, 143, 169)">DjangoHR</span>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
              <ul class="navbar-nav">
                {% if user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link {% if request.path == url_index %}active{% endif %}" href="{% url 'index' %}">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if request.path == url_profile %}active{% endif %}" href="{% url 'profile' employee_id=user.employee.id %}">Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if request.path == url_people %}active{% endif %}" href="{% url 'people' %}">People</a>
                            </li>
                            {% if user.employee.hr %}
                                <li class="nav-item">
                                    <a class="nav-link {% if request.path == url_leaveRequests %}active{% endif %}" href="{% url 'leaveRequests' %}">Leave Requests</a>
                                </li> 
                            {% endif %}
                            <li class="nav-item">
                                <a class="nav-link {% if request.path == url_timeOff %}active{% endif %}" href="{% url 'timeOff' %}">Time Off</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if request.path == url_objectives %}active{% endif %}" href="{% url 'objectives' %}">Objectives</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if request.path == url_logout %}active{% endif %}" href="{% url 'logout' %}">Log Out</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link {% if request.path == url_login %}active{% endif %}" href="{% url 'login' %}">Log In</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if request.path == url_register %}active{% endif %}" href="{% url 'register' %}">Register</a>
                            </li>
                        {% endif %}
              </ul>
            </div>
          </nav>
          
          <div class="container">
            <div class="row">
              <div class="col-sm">
                
              </div>
              <div class="col-sm" style="text-align: right; font-size: 12px; color: gray;">
                {% if user.is_authenticated %}
                    Signed in as <strong>{{ user.employee.first }} {{ user.employee.last }}</strong>.
                {% else %}
                    Not signed in. 
                {% endif %}
              </div>
            </div>
          </div>


        <div style="padding: 1rem 3rem;">
            {% block body %}
        </div>
        {% endblock %}
    </body>

</html>