{% extends 'django_hr/layout.html' %}

{% block body %}

    <h3>Profile of {{ employee.first }} {{ employee.last }}</h3>
    
    {% if user.employee.hr %}
        <a href="{% url 'editEmployee' employee_id=employee.id %}">Edit Details</a>
        <br>
    {% endif %}

    <br>

    <h5>Personal Details</h5>
    <table class="table">
        <tr>
            <td>First Name</td>
            <td>
                {% if employee.first is not None %}
                    {{ employee.first}}
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td>
                {% if employee.last is not None %}
                    {{ employee.last }}
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>Email</td>
            <td>
                {% if employee.email is not None %}
                    {{ employee.email }}
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>Comments</td>
            <td>
                {% if employee.comment is not None %}
                    {{ employee.comment }}
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>Address</td>
            <td>
                <td>
                    {% if employee.street is not None %}
                        {{ employee.street}}
                    {% endif %}, 
                    {% if employee.city is not None %}
                        {{ employee.city}}
                    {% endif %}, 
                    {% if employee.province is not None %}
                        {{ employee.province}}
                    {% endif %} 
                    {% if employee.postalCode is not None %}
                        {{ employee.postalCode}}
                    {% endif %} 
                    {% if employee.country is not None %}
                        {{ employee.country}}
                    {% endif %} 

                </td>
                
            </td>
        </tr>
    </table>
    <br>

    <h5>Job Details</h5>
    <table class="table">
        <tr>
            <td>Position</td>
            <td>{{ employee.position.title }}</td>
        </tr>
        <tr>
            <td>Department</td>
            <td>{{ employee.department.name }}</td>
        </tr>
        <tr>
            <td>Manager</td>
            <td>{{ employee.manager }}</td>
        </tr>
        <tr>
            <td>Hired On</td>
            <td>{{ employee.hireDate }}</td>
        </tr>
        <tr>
            <td>Salary</td>
            <td>$
                {% if employee.salary is not None %}
                        {{ employee.salary}}
                {% else %}
                    0
                {% endif %} 
                 per annum</td>
        </tr>
        <tr>
            <td>Vacation Days</td>
            <td>{{ employee.vacationDays }}</td>
        </tr>
        <tr>
            <td>Sick Leaves</td>
            <td>{{ employee.sickDays }}</td>
        </tr>
    </table>
    <br>

{% endblock %}